{% extends "base.html" %}

{% block page_name %}Login{% endblock %}

{% block content %}
<br/><br/><br/><br/><br/><br/><br/>
<form action="/login" method="POST" class="form-inline my-2 my-lg-0">
    {{ login_form.csrf_token }}
    {{ login_form.email.label }} {{ login_form.email(size=20) }}<br/>
    {{ login_form.password.label }} {{ login_form.password(size=20) }}<br/>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
</form>
{% with messages = get_flashed_messages(category_filter=["error"]) %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}