{% extends "base.html" %}

{% block page_name %}Exchanges{% endblock %}

{% block content %}
<h1>EXCHANGE PAGE</h1>
<h2>{{search_query}}</h2>


<div class="container-fluid">
    <div class="row">
        {% for stock in search_data %}
        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">{{stock.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted text-center">{{stock.symbol}}</h6>
                <div class="container">
                    <div class="row">
                        <div class="col">Symbol:</div>
                        <div class="col">{{stock.symbol}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Currency:</div>
                        <div class="col">{{stock.currency}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Price:</div>
                        <div class="col">{{stock.price}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Exchange:</div>
                        <div class="col">{{stock.stock_exchange_symbol}}</div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <a href="/stock/{{stock.symbol}}" class="btn btn-primary m-3">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}